<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="w3-container w3-teal">
        <h5>Header</h5>
    </div>
    <div class="w3-bar w3-black">
        <a href="/index" class="w3-bar-item w3-button">Home</a>
        <a href="/batman/batman" class="w3-bar-item w3-button">Batman</a>
        <a href="/login" class="w3-bar-item w3-button">Login</a>
        <a href="/search" class="w3-bar-item w3-button">Zoeken</a>
    </div>
    <div class="w3-container w3-red">
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endwith %}
    </div>
    <div class=w3-panel>Films:</div>
    <div class="w3-container w3-pale-yellow">
        {% block content %}
        {% endblock %}
    </div>
    <div class="w3-container w3-teal">
        <h5>Footer</h5>
        <p>Footer information goes here</p>
    </div>
</body>

</html>